/*css reset*/
html{
  font-size: 62.5%; 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    width: 100%;
}

h1{
    margin: 0;
}
/*end of css reset*/

.mainContainer{
    display: relative;
}
.banner_nav{
    display: flex;
}

/*nav*/

.menuBars{
    width: 2rem;
    height:2rem;
    background: transparent;
    cursor: pointer;
    transition: all 5s linear;
    position: absolute;
    top: 2rem;
    margin-left: -4rem;
    z-index: 200;
}

.line{
    width: 2rem;
    height: .3rem;
    background: rgba(255, 254, 254,.8);
    margin:3px;
    display: block;
    margin: .3rem auto;
}

.line1{
    width: 1.5rem;

}

.line3{
    width: 1.5rem;
}

.menuBars:hover .line1{
    width: 2rem;
    background: linear-gradient(50deg, rgba(248, 240, 240, 0.5),rgba(255, 254, 254,.8),rgba(248, 240, 240, 0.5));
}

.menuBars:hover .line2{
    background: linear-gradient(50deg, rgba(248, 240, 240, 0.5),rgba(255, 254, 254,.8),rgba(248, 240, 240, 0.5));
}

.menuBars:hover .line3{
    width: 2rem;
    background: linear-gradient(50deg, rgba(248, 240, 240, 0.5),rgba(255, 254, 254,.8),rgba(248, 240, 240, 0.5));
}
.nav{
    background: linear-gradient(to right,rgba(12, 19, 34, 0.9),rgba(36, 59, 85,.9)), url("../images/banner/pexels-ron-lach-9155584.jpg") no-repeat;
    position:sticky;
    height: 100vh;
    width:6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.socialIcons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
}
.socialIcons i.fa-brands{
    font-size: 3rem;
    padding-bottom: 1rem;
    color:rgb(247, 247, 247);
}

.socialIcons i.fa-brands:hover{
    color:rgb(208, 194, 248);
    cursor: pointer;
}

.year{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.slideNav{
    margin-left:-30rem;
    width: 24rem;
    display: flex;
    position: sticky;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.25turn, rgb(63, 135, 166, .8), rgb(235, 248, 225,.9), rgb(63, 135, 166, .8)),url("../images/scented.jpg") no-repeat top left /cover;
}

.slideNav ul{
    padding: 0;
}
.slideNav ul li{
    list-style: none;
    padding: 0;
}

/*hide show slideNav*/
input[type="checkbox"]{
    display: none;
}


input[type="checkbox"]:checked + div.slideNav{
    animation: slidenav 1s ease-in-out 0s 1 forwards;
    
}

@keyframes slidenav {
    0%{
        margin-left:-30rem;
    }
    100%{
        margin-left:0rem;
    }
    
}

.slideNav ul.menu{
    font-size:1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideNav ul.menu li{
    margin-bottom: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

ul.menu li:hover a{
    color: olive;
    text-shadow: 2px 2px 3px rgb(194, 182, 182);
}

div.businessName h1{
    margin-top: 2rem;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

div.businessName ~p{
    margin-bottom: 2rem;
    padding: 1rem;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

/*banner*/
.banner{
    height: 100vh;
    background: linear-gradient(to right,rgba(12, 19, 34, 0.9),rgba(36, 59, 85,.1)), url("../images/banner/pexels-ron-lach-9155584.jpg") no-repeat center /cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.banner h3{
    font-family: 'Sacramento', cursive;
    color:white;
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.banner button{
    padding:1rem 1.5rem;
    background-color: transparent;
    outline: none;
    font-size: 1.6rem;
    color: chocolate;
    border:1px solid cornsilk;
    text-transform: uppercase;
}

.banner button:active{
    transform: translateY(2px);
}

.banner button:hover{
    box-shadow: 2px 2px 12px rgba(194, 191, 191,.8);
    cursor: pointer;
    background-color: rgba(255, 255, 255,.1);
}

/*About Us*/

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5rem;
    margin-right: 0;
    transition: all .5s;
}

.about-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h3{
    font-size: 3rem;
}

.content-images{
    transition: all .5s;
    display: flex;
}

.aboutContent{
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
}

.about p{
    padding-bottom: 3rem;
    margin-right: 5rem;
    flex: 1 1 50%;
    padding-left: 6rem;
}

.aboutContent h3{
    font-family: 'Roboto Serif', sans-serif;    font-size: 3rem;
    margin-bottom: 1rem;
}

.aboutImages{
    margin-top:8rem;
    height: auto;
    flex: 1 1 40%;
    position:relative;
}

.underline{
    width:20rem;
}
.shortUnderline{
    border: 1px solid rgba(36, 59, 85,.9);
    width: 80%;
    margin:0 auto;
    margin-bottom: 1.8rem;
}

.longUnderline{
    border: 1px solid rgba(36, 59, 85,.9);
    width: 100%;
}

.aboutImages img{
    width:28rem;
    position:absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(36, 59, 85,.5);
    box-shadow: 3px 3px 10px rgba(36, 59, 85,.5);
}

.image4{
    transform: translate(-20%,-90%);    
}

.image1{
    transform: translate(-100%,-80%);
    z-index: 100;   
}
.image2{
    transform: translate(-70%,10%);  
    z-index: 200;   
}

.image3{
    transform: translate(20%,-10%);
    z-index: 300;   
}

.about-btn{
    padding: 1rem 2rem;
    border-color:rgba(36, 59, 85,.5);
    outline: none;
    border-style: ridge;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}

.about-btn:focus{
    outline: none;
}

.about-btn:active{
    transform: translateY(2px);
    border-color:rgba(36, 59, 85,.8);

}

.fa-angle-double-right{
    color:rgba(36, 59, 85,.8);
    font-size: 1.5rem;
}

/*services*/
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h3{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.longUnderline{
    margin-bottom: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 5rem;
}

.cards{
    width: 50rem;
    border-color:rgba(26, 42, 61, 0.9);
    background: url("../images/scented.jpg") no-repeat top left /cover;
    background-color: black;
    box-shadow: 3px 3px 10px rgba(36, 59, 85,.5);
    color:azure;
    margin: 3rem;
}

.service-content{
    padding:.5rem 3rem;
    margin-bottom: 3rem;
}

.service-heading{
    display: flex;
    justify-content: space-between;
}

.service-content h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.shortUnderline{
    border: 1px solid rgba(36, 59, 85,.9);
    width: 80%;
    margin:0 auto;
    margin-bottom: 1.8rem;
}

.longUnderline{
    border: 1px solid rgba(36, 59, 85,.9);
    width: 100%;
}

/*footer section*/

section.footer{
    background-color: black;
    color: azure;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.footer-title{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h3{
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.footer .shortUnderline,.footer .longUnderline{
    border: .1rem solid azure;
}

.footer-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7rem;
    padding-top: .5rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.fa-phone, .fa-location-crosshairs{
    font-size: 1.5rem;
    color: azure;
    margin-right: .5rem;
    margin-bottom: 2rem;

}

.footer-menu{
    list-style: none;
    font-weight: 600;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}

.footer-menu a{
    font-size: 2rem;
    margin-left: 1rem;
    padding-right:1rem;
}

.footer-menu li:hover{
    transform: translateY(-2px) scale(1.2);
    color:whitesmoke;
    text-shadow: 1px 1px 1px rgb(3, 3, 77);
    cursor: pointer;
}

.contact-info form{
    display: flex;
    flex-direction: column;
}

.contact-info form label{
    margin-bottom: 1rem;
}

.contact-info form .input{
    display: flex;
    justify-content: center;
    padding-right: 2rem;
}

.contact-info input[type="text"]{
    padding:.65rem;
    width: 25rem;
    color:#444;
    outline: none;
    font-size: 1.8rem;
    flex: 0 1 100%;
    border-style: unset;
}

.footer-btn{
    padding: 0.65rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: fit-content;
    color:white;
    outline: none;
    font-size: 1.7rem;
    cursor: pointer;
    border-style: unset;
    background-color: rgba(36, 59, 85,.9);
}

.footer-gallery{
    display: flex;
    width: 75%;
}

.footer-gallery img{
    width:100%;
    height:100%;
    transition: all .5s;
    backface-visibility: hidden;
    margin: auto;
    box-shadow: 2px 2px 12px rgba(194, 191, 191,.8);

}

.footer-img-wrapper{
    overflow: hidden;
    width: 328px;
}

.footer-gallery img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.footer p{
    padding-top: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/*media queries*/

@media (max-width:1600px){
    
    /*footer section*/
    .footer-2{
        transition: all .5s;
        padding:0 4rem;
    }
}

@media (max-width:1500px){
    
    /*footer section*/
    .footer-gallery{
        transition: all .5s;
        display: flex;
        align-items: center;
        width: 60%;
    }

    .footer p{
        margin-bottom: 2rem;
    }

    .aboutImages img{
        transition: all .5s;
        width:25rem;
    }
}

@media (max-width:1300px){
    
    /*about section*/
      .aboutImages img{
        transition: all .5s;
        width:36%;
    }
}

@media (max-width:1200px){

    .aboutImages{
        margin-top: 0;
    }

    .aboutImages img{
        transition: all .5s;
        width:34%;
    }
}

@media (max-width:1100px){
    .content-images{
        flex-direction: column-reverse;
        align-items: center;
    }

    .aboutContent{
        display: flex;
        margin-top: 20rem;
    }

    .aboutImages{
        align-items: flex-start;
        width:70%;
        margin-top: 25rem;
    }
}

@media (max-width:1000px){
    
    /*footer section*/
    .footer-gallery{
        transition: all .5s;
        display: flex;
        align-items: center;
        width: 60%;
    }

    .aboutContent{
        margin-top: 18rem;
        margin-bottom: 10rem;
    }

    .footer-2{
        transition: all .5s;
        padding:0 4rem;
    }

    .footer p{
        margin-bottom: 2rem;
    }
}

@media (max-width:960px){

    .aboutImages{
        align-items: flex-start;
        width:80%;
        margin-top: 25rem;
    }

    /*footer section*/
   .footer-gallery{
    width: 75%;
    padding-top: 3rem;
   }

   .footer p{
       margin-bottom: 2rem;
   }
   
}

@media (min-width: 300px) and (max-width:800px){

    .aboutImages{
        align-items: flex-start;
        width:90%;
        margin-top: 20rem;
    }
}

